<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <title>eSchool | Statistics</title>
    <link href="{% static 'assets/img/favicon.png' %}" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap"
          rel="stylesheet">
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/plugins/datatables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="main-wrapper">
    <div class="header">
        <div class="header-left">
            <a class="logo" href="{% url 'index' %}">
                <img alt="Logo" src="{% static 'assets/img/logo.png' %}">
            </a>
            <a class="logo logo-small" href="{% url 'index' %}">
                <img alt="Logo" height="30" src="{% static 'assets/img/logo-small.png' %}" width="30">
            </a>
        </div>
        <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
        </a>
        <div class="top-nav-search">
            <form>
                <input class="form-control" placeholder="Kërko" type="text">
                <button class="btn" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
        </a>
        <ul class="nav user-menu">
            <li class="nav-item dropdown noti-dropdown">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
                    <i class="far fa-bell"></i>
                    <span class="badge badge-pill">3</span>
                </a>
                <div class="dropdown-menu notifications">
                    <div class="topnav-dropdown-header">
                        <span class="notification-title">Njoftime</span>
                        <a class="clear-noti" href="javascript:void(0)"> Fshi të gjitha </a>
                    </div>
                    <div class="topnav-dropdown-footer">
                        <a href="#">Shiko të gjitha njoftimet</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown has-arrow">
                <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown" href="#">
                   <span class="user-img">
                        <img alt="Ryan Taylor" class="rounded-circle"
                             src="{% static 'assets/img/logo/dk-photography-logo.png' %}"
                             width="31">
                   </span>
                </a>
                <div class="dropdown-menu">
                    <div class="user-header">
                        <div class="avatar avatar-sm">
                            <img alt="User Image" class="avatar-img rounded-circle"
                                 src="{% static 'assets/img/logo/dk-photography-logo.png' %}">
                        </div>
                        <div class="user-text">
                            <h6>Drita Kurti</h6>
                            <p class="text-muted mb-0">Administrator</p>
                        </div>
                    </div>
                    <a class="dropdown-item" href="{% url 'index' %}">Profili</a>
                    <a class="dropdown-item" href="{% url 'index' %}">Mesazhe</a>
                    <a class="dropdown-item" href="{% url 'index' %}">Dil</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div class="sidebar-menu" id="sidebar-menu">
                <ul>
                    <li class="menu-title">
                        <span style="text-transform: uppercase">Menuja Kryesore</span>
                    </li>
                    <li>
                        <a href="{% url 'index' %}">
                            <i class="fas fa-home"></i>
                            <span>Kreu</span>
                        </a>
                    </li>
                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-school"></i>
                            <span>Klasat</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'classes' %}">Lista e klasave</a>
                            </li>
                            <li>
                                <a href="{% url 'add-class' %}">Shto klasë</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-title active">
                        <span style="text-transform: uppercase">Klasa Kujdestari</span>
                    </li>
                    <li class="submenu active">
                        <a href="#">
                            <i class="fas fa-book-reader"></i>
                            <span>Klasa Kujdestari</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'students' %}">Lista e nxënësve</a>
                            </li>
                            <li>
                                <a href="{% url 'add-student' %}">Shto nxënës</a>
                            </li>
                            <li>
                                <a href="{% url 'add-grade' %}">Shto notë</a>
                            </li>
                            <li>
                                <a href="{% url 'parents' %}">Lista e prindërve</a>
                            </li>
                            <li>
                                <a href="{% url 'parents' %}">Shto prind</a>
                            </li>
                            <li>
                                <a href="{% url 'subjects' %}">Lista e lëndëve</a>
                            </li>
                            <li>
                                <a href="{% url 'add-subject' %}">Shto lëndë</a>
                            </li>
{#                            <li>#}
{#                                <a href="{% url 'statistics' %}" class="active">Statistika</a>#}
{#                            </li>#}
                        </ul>
                    </li>
                    <li class="menu-title">
                        <span style="text-transform: uppercase">Gjuhë Shqipe</span>
                    </li>
                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-address-book" style="color: #fd7e14"></i>
                            <span>Klasa 8 A</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'class-8-a' %}">Lista e nxënësve</a>
                            </li>
                            <li>
                                <a href="{% url 'add-student-8-a' %}">Shto nxënës</a>
                            </li>
                            <li>
                                <a href="{% url 'add-grade-8-a' %}">Shto notë</a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-address-book" style="color: #0dcaf0"></i>
                            <span>Klasa 8 D</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'class-8-d' %}">Lista e nxënësve</a>
                            </li>
                            <li>
                                <a href="{% url 'add-student-8-d' %}">Shto nxënës</a>
                            </li>
                            <li>
                                <a href="{% url 'add-grade-8-d' %}">Shto notë</a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-address-book" style="color: #d63384"></i>
                            <span>Klasa 8 E</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'class-8-e' %}">Lista e nxënësve</a>
                            </li>
                            <li>
                                <a href="{% url 'add-student-8-e' %}">Shto nxënës</a>
                            </li>
                            <li>
                                <a href="{% url 'add-grade-8-e' %}">Shto notë</a>
                            </li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-address-book" style="color: #198754"></i>
                            <span>Klasa 9 E</span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul>
                            <li>
                                <a href="{% url 'class-9-e' %}">Lista e nxënësve</a>
                            </li>
                            <li>
                                <a href="{% url 'add-student-9-e' %}">Shto nxënës</a>
                            </li>
                            <li>
                                <a href="{% url 'add-grade-9-e' %}">Shto notë</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Statistika</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Klasa kujdestari</a></li>
                            <li class="breadcrumb-item active">Statistika</li>
                        </ul>
                    </div>
                    <div class="col-auto text-end float-end ms-auto">
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-download"></i> Shkarko</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'printo-statistika-periudha-1' %}">Periudha 1</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'printo-statistika-periudha-2' %}">Periudha 2</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'printo-statistika-periudha-3' %}">Periudha 3</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'printo-statistika-vjetore' %}">Vjetore</a>
                            </div>
                        </div>
                        <a class="btn btn-primary" href="{% url 'add-grade' %}"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-body">
                        <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                            {% for period in periods %}
                                <li class="nav-item" style="font-weight: bold">
                                    <a class="nav-link{% if period.code == 'PER-1' %} active {% endif %}" href="#bottom-justified-tab-period-{{ period.code }}" data-bs-toggle="tab">{{ period.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            {% for period in periods %}
                            <div class="tab-pane show{% if period.code == 'PER-1' %} active {% endif %}" id="bottom-justified-tab-period-{{ period.code }}">
                            <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                                {% for subject in subjects %}
                                    <li class="nav-item" style="font-weight: bold">
                                        <a class="nav-link {% if subject.code == 'AZ-GJUHË-SHQIPE-8' %} active {% endif %}" href="#bottom-justified-tab-subject-{{ subject.code }}" data-bs-toggle="tab">{{ subject.initials }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="tab-content">
                                {% for subject in subjects %}
                                <div class="tab-pane show{% if subject.code == 'AZ-GJUHË-SHQIPE-8' %} active {% endif %}" id="bottom-justified-tab-subject-{{ subject.code }}">
                                    <div class="card card-table">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-center mb-0 datatable">
                                                    <thead>
                                                    <tr class="bg-light text-center">
                                                        <th>Nr.</th>
                                                        <th>Emri</th>
                                                        <th>Mbiemri</th>
                                                        <th>VLV</th>
                                                        <th>VLP</th>
                                                        <th>VLT</th>
                                                        <th>Mesatarja</th>
                                                        <th>Nota</th>
                                                        <th>Veprime</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td class="text-center">1</td>
                                                        <td>
                                                            <h2>
                                                                <a>Mexhit</a>
                                                            </h2>
                                                        </td>
                                                        <td>
                                                            <h2>
                                                                <a>Kurti</a>
                                                            </h2>
                                                        </td>
                                                        <td class="text-center">4</td>
                                                        <td class="text-center">5</td>
                                                        <td class="text-center">6</td>
                                                        <td class="text-center alert-danger"
                                                            style="background-color: rgba(248,215,218,0.5)">7.53
                                                        </td>
                                                        <td class="text-center alert-primary"
                                                            style="background-color: rgba(207,226,255,0.5)">8
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="actions">
                                                                <a class="btn btn-sm bg-dark me-2" href="edit-subject.html" title="Info">
                                                                    <i class="fas fa-info-circle" style="color: #ffffff"></i>
                                                                </a>
                                                                <a class="btn btn-sm bg-success me-2" href="edit-subject.html" title="Printo">
                                                                    <i class="fas fa-print" style="color: #ffffff"></i>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Të gjitha të drejtat të rezervuara © 2020 eSchool.</p>
        </footer>
    </div>
</div>
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
</body>
</html>